<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Stream</title>

<link rel="stylesheet" href="{{ static_url('vendor/normalize.css') }}" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{{ static_url('css/complete.css') }}" type="text/css" media="screen" charset="utf-8">

</head>
<body>

<input id="typeahead" type="text" placeholder="Search">
<script type="x-tmpl-mustache" id="template">
<div class="complete">
    <img class="artwork" src="{{! artwork_url }}">
    <div class="metadata">
        <div class="title">{{! title }}</div>
        <div class="artist">{{! user }}</div>
    </div>
</div>
</script>

<script src="{{ static_url('vendor/jquery-1.11.2.min.js') }}"></script>
<script src="{{ static_url('vendor/typeahead.bundle.min.js') }}"></script>
<script src="{{ static_url('vendor/mustache.min.js') }}"></script>
<script src="{{ static_url('js/complete.js') }}"></script>

</body>
</html>
